<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span><br>
<span><%= image_tag("profile.jpg", :class => "img-responsive") %></span><br>
<h1>Daisuke yamasaki</h1>
<p>神奈川県横浜市在住。1969年生まれ。好みのラーメンは二郎インスパイア系。
週1で横浜・新羽のハイパーファットンへ出没中。今一番いきたいラーメン店は東京・蒲田の荒木屋。</p>
